body {
    background-color: black;
}

.titulo-principal {
    color: white;
    padding-left: 20px;
}

#imagem-ambiente {
    width: 80%
    
}

.principal {
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
    color: white;
}

p {
    color: white;
    text-align: center;
    
}

#ensino {
    font-size: 20px;
}

em strong {
    color: red;
}

.formas {
    background: rgb(22, 0, 0);
    padding: 20px
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;

}

.itens {
    color: white;
    font-style: italic;
}

.imagem-menino {
    width: 50%
}